#nav-bar {
  background: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 3;
}
#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
#nav-bar .header {
  font-size: 3rem;
  padding-right: 20px;
  line-height: 80px;
  vertical-align: top;
}
#user-name {
  border-radius: 10px;
  float: right;
  line-height: 40px;
  margin: 20px;
  background: lightgray;
  opacity: 0.7;
}
#user-avatar {
  border-radius: 10px;
  float: right;
  margin: 20px;
  height: 40px;
  width: 40px;
}

.nav-bar-button {
  float: right;
  line-height: 40px;
  margin: 20px;
  height: 40px;
  width:  40px;
}
