.new-tweet {
  padding : 5px;
 }
 
 .new-tweet h2 {
   border-bottom: 2px solid black;
 }
 
 .new-tweet textarea {
   width:100%;
   padding: 5px;
 }
 .new-tweet .counter {
   position: absolute;
   right: 5px;
 }
 